@tailwind base;
@tailwind utilities;
@tailwind components;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 2px solid red; */
  /* overflow: hidden; */
}

body {
  /* background-image: url(../images/herobg-min.png); */
  background: linear-gradient(0deg, #010e21, #010e21),
    linear-gradient(0deg, #61646b, #61646b);
  /* filter: blur(10px); */
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  position: relative;
  object-fit: cover;
  height: 100vh;
  top: 0;
  right: 0;
  left: 0;
}

.gradient{
position: absolute;
width: 861px;
height: 861px;
left: -287px;
top: -294px;
background: rgba(24, 100, 255, 0.2);
opacity: 0.5;
filter: blur(200px);
}

.hero-pattern {
  background-image: url(../images/bg-pattern-100.png);
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  width: 100%;
  height: inherit;
  position: absolute;
  opacity: 0.05;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1000;
}

@font-face {
  font-family: Eina01-Bold;
  src: url("./fonts/eina/Eina01-Bold.ttf") format("truetype");
}

@font-face {
  font-family: figtree;
  src: url("./fonts/figtree/Figtree-Regular.ttf") format("truetype");
}

@keyframes move {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-700%);
    }
}

.animate-alternate {
  animation: move infinite alternate;
  animation-duration: 15s;
}
