@tailwind base;
@tailwind utilities;
@tailwind components;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 2px solid red; */
}

body{
  background-image: url(../images/herobg-min.png);
  background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	position: relative;
	top: 0;
	right: 0;
	left: 0;
}

@font-face {
  font-family: Eina01-Bold;
  src: url("./fonts/eina/Eina01-Bold.ttf") format("truetype");
}

@font-face {
  font-family: figtree;
  src: url("./fonts/figtree/Figtree-Regular.ttf") format("truetype");
}

.buttonbg {
 background-color:  linear-gradient(106.44deg, #1864FF 17.79%, #42AAFF 85.51%);;
}
